.jumbotron img{
    width: 20%;
}
footer{
min-height: 50px;
padding-top: 15px;
}
body {
    margin-top: 50px;
}

.navbar-judul :link,
.navbar-judul :active,
.navbar-judul :visited {
    font-size: 18px;
    text-decoration: none;
    color :black;
}

.progress p {
    padding: left :20px;
    padding-right: 20px;
    position: relative;
}
style{
    font-family: 'Times New Roman', Times, serif;
    font-size: 12%;
}
.jumbotron h2{
    font-size: 35px;
    font-color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.navbar-judul :link{
    font-size: 30px;
    font-color:black;
}

